.eb-bg-green{
  background-color: rgb(26, 188, 156);
  color: white;
}

.eb-pad-80{
  padding: 80px 0;
}

.eb-header-top{
  background-color: rgb(58, 84, 109);
  height: 80px;
  color: white;
}

.eb-jumbotron{
  width: 80%;
  max-width: 800px;
  margin: 0 auto;
  width: 300px;
}

.eb-wrp-60{
  width: 60%;
  margin: 0 auto;
}


img{
  width: 350px;
  border-radius: 10px;
  border-bottom: 15px;
}

.row.eb-navbar{
  background-color: rgb(44, 62, 80);
  color: white;
}

footer{
  background-color: rgb(44, 62, 80);
  color: white;
}

.row img{
  margin-bottom: 15px;
}

.eb-but{
  margin-bottom: 15px;
}

.eb-pd-tp{
  line-height: 30px;
}